// variables
$screen-xm: 576px;
$screen-md: 768px;
$screen-hover: 992px;
$screen-hide: 1280px;

// color
$color-white: #ffffff;
$color-black: #000000;
$color-neutral-500: #757575;
$color-neutral-600: #545454;
$color-blue-500: #079BEE;
$color-neutral-50: #E3FCFF;
$color-neutral-100: #EEEEEE;;

//font-style
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// background-color
$body: #ffffff;


// border
$border:#C4C4C4;

// shadow
$box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
