.min-width-90 {
  min-width: 90px;
}
.min-width-100 {
  min-width: 100px;
}
.min-width-150 {
  min-width: 150px;
}
.min-width-170 {
  min-width: 170px;
}
.min-width-200 {
  min-width: 200px;
}
.min-width-400 {
  min-width: 400px;
}
.min-width-500 {
  min-width: 500px;
}
.min-width-600 {
  min-width: 600px;
}
.min-width-700 {
  min-width: 700px;
}
.min-width-800 {
  min-width: 800px;
}
.min-width-900 {
  min-width: 900px;
}
.min-width-1000 {
  min-width: 1000px;
}
.min-width-1100 {
  min-width: 1100px;
}
.min-width-1200 {
  min-width: 1200px;
}
.min-width-1300 {
  min-width: 1300px;
}

// width %
.w-5 {
  width: 5%;
}
.w-10 {
  width: 10%;
}
.w-15 {
  width: 15%;
}
.w-16 {
  width: 16%;
}
.w-17 {
  width: 17%;
}
.w-18 {
  width: 18%;
}
.w-19 {
  width: 19%;
}
.w-20 {
  width: 20%;
}
.w-21 {
  width: 21%;
}
.w-22 {
  width: 22%;
}
.w-23 {
  width: 23%;
}
.w-24 {
  width: 24%;
}
.w-25 {
  width: 25%;
}
.w-26 {
  width: 26%;
}
.w-27 {
  width: 27%;
}
.w-28 {
  width: 28%;
}
.w-29 {
  width: 29%;
}
.w-30 {
  width: 30%;
}
.w-33 {
  width: 33%;
}
.w-35 {
  width: 35%;
}
.w-40 {
  width: 40%;
}
.w-45 {
  width: 45%;
}
.w-48 {
  width: 48%;
}
.w-50 {
  width: 50%;
}
.w-55 {
  width: 55%;
}
.w-60 {
  width: 60%;
}
.w-65 {
  width: 65%;
}
.w-70 {
  width: 70%;
}
.w-75 {
  width: 75%;
}
.w-80 {
  width: 80%;
}
.w-85 {
  width: 85%;
}
.w-90 {
  width: 90%;
}
.w-95 {
  width: 95%;
}

// max-width
.max-width-70 {
  max-width: 70px !important;
  width: 100% !important;
}
.max-width-100 {
  max-width: 100px !important;
  width: 100% !important;
}
.max-width-130 {
  max-width: 130px !important;
  width: 100% !important;
}
.max-width-200 {
  max-width: 210px !important;
  width: 100% !important;
}
.max-width-210 {
  max-width: 210px !important;
  width: 100% !important;
}
.max-width-220 {
  max-width: 220px !important;
  width: 100% !important;
}
.max-width-230 {
  max-width: 240px !important;
  width: 100% !important;
}
.max-width-240 {
  max-width: 240px !important;
  width: 100% !important;
}
.max-width-250 {
  max-width: 250px !important;
  width: 100% !important;
}
.max-width-300 {
  max-width: 300px !important;
  width: 100% !important;
}
.max-width-400 {
  max-width: 400px !important;
  width: 100% !important;
}

// max height

// height
.height-45 {
  height: 45px !important;
}

// min height
.min-height-24 {
  min-height: 24px;
}

// line-height
.line-height-45 {
  line-height: 45px !important;
}
